<style>
  .none-ptr{
    pointer-event:none
  }
</style>

<div class="check-code">
  <input type="number" id="checkpincode" placeholder="Enter Your pincode">
  <button class="btnpin" onClick="zipper()">Check</button>
</div>
<script>
 let zipcodes =[{{ settings.pin_codes}}] 
  function zipper(){
  let code = document.getElementById('checkpincode').value

  if(zipcodes.includes(parseInt(code))){
    document.querySelector('.product-form__submit').classList.add('none-ptr')
    document.querySelector('.product-form__submit').classList.add('shopify-payment-button')
    console.log('eee')
  }else{
    document.querySelector('.product-form__submit').classList.remove('none-ptr')
    document.querySelector('.product-form__submit').classList.remove('shopify-payment-button')
    console.log('vvv')
  }
  }
</script>