<style>
  
</style>

<div class="check-code">
  <input type="number" id="checkpincode" placeholder="Enter Your pincode">
  <button class="btnpin" onClick="zipper()">Check {{ settings.zipcode}}</button>
</div>
<script>
 let zipcodes =[{{ settings.pin_codes}}] 
  function zipper(){
  let code = document.getElementById('checkpincode').value

  if(zipcodes.includes(parseInt(code))){
    alert('yes')
  }else{
    alert('other zipcode')
  }
  }
</script>