    <!-- Demo styles -->
    <style>


        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .cov {
            display: flex;
            justify-content: space-around;
            background-color: #fff;
        }

        .n {
            width: 50%;
            height: 700px;

        }

        .para {
            width: 50%;
            text-align: center;
            height: 700px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            ;
        }

        .para p {
            display: grid;
        }

        .para span {
            font-size: 5.188vw;
            font-weight: 600;
        }

        .ss p {
            font-size: 73px;
        }

        .ss {
            flex-direction: column;
        }

        .nbutton span {
            padding: 4px 9px;
            border-radius: 4px;
            font-size: 1.505vw;
            background: #99edc3;
        }

        .nbutton {
            display: flex;
            gap: 13px;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 26px;
        }

        .lorem {
            font-size: 0.789vw !important;
            line-height: 2;
        }

        .swiper-slide:nth-child(odd) {
            background-color: #ffffff;
            color: #000
        }

        .swiper-slide:nth-child(even) {
            background-color: #000000;
            color: #fff
        }

        .swiper-slide:nth-child(even) .nbutton span {
            color: #000
        }

        .bottoms {
            height: 500px;
            background-color: #99edc3;
        }

        .mobcov {
            display: none;
        }

        @media(max-width:768px) {
            .mobcov {
                display: block !important;
                padding: 0 13px;
            }

            .cov {
                display: none;
            }

            .para,
            .n {
                width: 100%;
                height: auto;
            }

            .para p {
                display: block;
            }

            .ss p {
                margin-top: 30px;
                margin-bottom: 20px;
            }

            .para span {
                font-size: 39px;
            }
            
            .lorem{
                margin-top: 0 !important;
                font-size: 15px !important;
            }

            .nbutton span {
                font-size: 13px;
            }
        }
    </style>

    <!-- Swiper -->
    <div class="cov">
        <div class="para">
            <p>
                <span>What</span>
                <span>We</span>
                <span>Do?</span>
            </p>
        </div>
        <div class="swiper n mySwiper">
            <div class="swiper-wrapper m">
                <div class="swiper-slide ss">
                    <p>Build</p>
                    <div class="nbutton">
                        <span>Branding</span>
                        <span>Graphics Design</span>
                        <span>UI/UX</span>
                        <span>Illustration</span>
                        <span>Animation</span>
                        <span>Graphics Design</span>
                        <span>UI/UX</span>
                    </div>
                    <p class="lorem">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, quam nam?
                        Tempora, perferendis? Aliquam, repellendus accusantium? Voluptatem assumenda voluptatum
                        asperiores laboriosam! Ducimus delectus quod cumque aspernatur unde, deserunt porro. Autem?</p>
                </div>
                <div class="swiper-slide ss">
                    <p>Marketing</p>
                    <div class="nbutton">
                        <span>Branding</span>
                        <span>Graphics Design</span>
                        <span>UI/UX</span>
                        <span>Illustration</span>
                        <span>Animation</span>
                        <span>Graphics Design</span>
                        <span>UI/UX</span>
                    </div>
                    <p class="lorem">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, quam nam?
                        Tempora, perferendis? Aliquam, repellendus accusantium? Voluptatem assumenda voluptatum
                        asperiores laboriosam! Ducimus delectus quod cumque aspernatur unde, deserunt porro. Autem?
                    </p>
                </div>
                <div class="swiper-slide ss">
                    <p>Design</p>
                    <div class="nbutton">
                        <span>Branding</span>
                        <span>Graphics Design</span>
                        <span>UI/UX</span>
                        <span>Illustration</span>
                        <span>Animation</span>
                        <span>Graphics Design</span>
                        <span>UI/UX</span>
                    </div>
                    <p class="lorem">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, quam nam?
                        Tempora, perferendis? Aliquam, repellendus accusantium? Voluptatem assumenda voluptatum
                        asperiores laboriosam! Ducimus delectus quod cumque aspernatur unde, deserunt porro. Autem?</p>
                </div>
            </div>
        </div>
    </div>

    <div class="cov mobcov">
        <div class="para">
            <p>
                <span>What</span>
                <span>We</span>
                <span>Do?</span>
            </p>
        </div>
        <div class="swiper n mysSwiper">
            <div class="swiper-wrapper m">
                <div class="swiper-slide ss">
                    <p>Build</p>
                    <div class="nbutton">
                        <span>Branding</span>
                        <span>Graphics Design</span>
                        <span>UI/UX</span>
                        <span>Illustration</span>
                        <span>Animation</span>
                        <span>Graphics Design</span>
                        <span>UI/UX</span>
                    </div>
                    <p class="lorem">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, quam nam?
                        Tempora, perferendis? Aliquam, repellendus accusantium? Voluptatem assumenda voluptatum
                        asperiores laboriosam! Ducimus delectus quod cumque aspernatur unde, deserunt porro. Autem?</p>
                </div>
                <div class="swiper-slide ss">
                    <p>Marketing</p>
                    <div class="nbutton">
                        <span>Branding</span>
                        <span>Graphics Design</span>
                        <span>UI/UX</span>
                        <span>Illustration</span>
                        <span>Animation</span>
                        <span>Graphics Design</span>
                        <span>UI/UX</span>
                    </div>
                    <p class="lorem">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, quam nam?
                        Tempora, perferendis? Aliquam, repellendus accusantium? Voluptatem assumenda voluptatum
                        asperiores laboriosam! Ducimus delectus quod cumque aspernatur unde, deserunt porro. Autem?
                    </p>
                </div>
                <div class="swiper-slide ss">
                    <p>Design</p>
                    <div class="nbutton">
                        <span>Branding</span>
                        <span>Graphics Design</span>
                        <span>UI/UX</span>
                        <span>Illustration</span>
                        <span>Animation</span>
                        <span>Graphics Design</span>
                        <span>UI/UX</span>
                    </div>
                    <p class="lorem">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, quam nam?
                        Tempora, perferendis? Aliquam, repellendus accusantium? Voluptatem assumenda voluptatum
                        asperiores laboriosam! Ducimus delectus quod cumque aspernatur unde, deserunt porro. Autem?</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bottoms"></div>

    <!-- Swiper JS -->
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            direction: "vertical",
            mousewheel: {
                releaseOnEdges: true,
            },
            on: {
                slideChange: function () {
                    var activeSlide = this.slides[this.activeIndex];
                    var isLastSlide = this.isEnd;

                    
                        var bgColor = window.getComputedStyle(activeSlide).backgroundColor;
                        var col = window.getComputedStyle(activeSlide).color;
                        var nb = document.querySelector('.cov').style.backgroundColor = bgColor;
                        var nc = document.querySelector('.cov').style.color = col;
                
                }
            }
        });

        var sswiper = new Swiper(".mysSwiper", {

            on: {
                slideChange: function () {
                    var activeSlide = this.slides[this.activeIndex];
                    var isLastSlide = this.isEnd;

                    if (isLastSlide) {
                        var bgColor = window.getComputedStyle(activeSlide).backgroundColor;
                        var col = window.getComputedStyle(activeSlide).color;
                        var nb = document.querySelector('.mobcov').style.backgroundColor = bgColor;
                        var nc = document.querySelector('.mobcov').style.color = col;
                    }
                }
            }
        });
    </script>


{% schema %}
  {
    "name": "What we do",
    "settings": [],
    "presets": [{
      "name":"whatwedo"
    }]
  }
{% endschema %}